
/* SECCIÓN BODY */
body{
    font-family: 'verdana', sans-serif;
}

html{
    scroll-behavior: smooth;
}
/* SECCIÓN HEADER */
header .nav-william{
    position: fixed;
    background: #fff;
    width:100%;
    top: 0;
    z-index: 16;
}
  
 .navbar-collapse{
    justify-content: flex-end;
}

.carousel-indicators{
    bottom: 20%;
}
.carousel-indicators button{
    align-items: end;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-style: normal;
    margin-top: -35px;
    position: absolute;
    border: solid 2px #fff ;
    background: transparent;
    font-size: 21px;
    bottom: -41px;
}



.carousel-caption {
    bottom: 50%;
}

/* SECCIÓN NOSOTROS */

#seccion1-nosotros{
    margin-top: 3%;
}

#seccion1-nosotros p{
    margin-top: 2%;
}

.btn-outline-success{
    border: solid black;
    color: black;
}

#nosotros-imagenes{
padding: 40px;
}

.slick-prev:before, .slick-next:before{
    color: #000;
}

#nosotros-imagenes .lugares{
    max-width: 500px;
    width: 100%;
    text-align: center;
    background: #fff;
}

#nosotros-imagenes .lugares img{
    max-width: 100%;
}

/* SECCIÓN SERVICIOS */

#nuestrosservicios {
    background: #330000;
}

#nuestrosservicios .row h3 {

    font-size: 25px;
    color: #fff;
    position: relative ;
    top: 17%;
    right: 0;
    text-align: center;

}

.margen-arriba{
    padding-top: 133px;
}

#nuestrosservicios .row img{
    width: 77%;
    position: inherit;
    right: 0;
    left: 31%;
}


#cuatroservicios {
    margin-top: 2%;
    margin-bottom: 4%;
}

#cuatroservicios .row h2{

    left: 0;
    right: 0;
    text-align: center;
}

#cuatroservicios .row img{
    width: 30%;
    position: relative;
    left: 35%;
    right: 0;
}

#cuatroservicios .row p{
    margin-top: 3%;
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}


#cuatroserviciosdos{
    margin-top: 10%;
    margin-bottom: 4%;
}


#cuatroserviciosdos .row h2{
    left: 0;
    right: 0;
    text-align: center;
}

#cuatroserviciosdos .row img{
    width: 30%;
    position: relative;
    left: 35%;
    right: 0;
}

#cuatroserviciosdos .row p{
    margin-top: 3%;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

/* SECCIÓN EQUIPO DE TRABAJO */

#equipo-trabajo .container h2{
    color: #fff;
    margin-top: 1%;
    font-size: 50px;
}


#equipodetrabajo .container p{
    color: #fff;
    margin-top: 1%;
    font-size: 30px;
}

#equipo-trabajo {
    background: url(../img/Equipo.jpg) center no-repeat;
    background-size: cover;
    padding: 4% 0% 4% 0
}





#equipo-trabajo .contenido4{
    background: #fff;
    opacity: 86%;
    margin-top: -25px;
}


#equipo-trabajo .contenido4 h4{
    padding-top: ;
}


/* FOOTER EASY */

#footer-easy{
    width: 100%;
    background: #330000;
}


#footer-easy .col-md-4{
    margin-top: 4%;
}

#footer-easy .redes-sociales {
    text-align: center;
    color: #fff;
}


#footer-easy .redes-sociales img{
    width: 18%;
}

#footer-easy .contactenos{
    text-align: center;
    color: #fff;
}

#footer-easy .contactenos h2{
    margin-bottom: 6%;
}

#footer-easy .contactenos h4{
    margin-top: 7%;
}


#footer-easy .contactenos h4{
    font-size: 122%;
}


#footer-easy .mapa {
    text-align: center;
    color: #fff;

}

#footer-easy .mapa img{
    width: 70%;
}

#footer-easy .logo-footer{
    text-align: center;
}


#footer-easy .linea{
    border-top: solid 3px #fff;
    margin-top: 4%;
}

#footer-easy .linea h2{
    color: #fff;
}


/* RESPONSIVE TABLETS */

@media screen and (max-width:990px) and (min-width: 768px){

    header .nav-william{
        position: fixed;
        background: #fff;
        width:100%;
        top: 0;
        z-index: 16;
    }
    .carousel.pointer-event{
        position: relative;
        margin-top: 19%;
    }
    .margen-arriba{
        padding-top: 0;
    }

    #equipodetrabajo .container h2{
        font-size: 33px;
    }
    #nuestrosservicios .row h3{
        font-size: 32px;
        margin-left: 19%;
    }
    
    #cuatroservicios .row h2{
        font-size: 30px;
    }
    #cuatroserviciosdos .row h2{
        font-size: 30px;
    }
    #cuatroservicios .row p {
        font-size: 17px;
    }
    #cuatroserviciosdos .row p {
        font-size: 17px;
    }

    #equipo-trabajo .contenido4 {
        padding: 26px 0 17px 0;
        font-size: 14px;
    }
    #equipo-trabajo .contenido4 button{
        font-size: 13px;
    }

    #footer-easy .redes-sociales h2{
        font-size: 30px;
    }
    #footer-easy .redes-sociales img{
        width: 20%;
    }
    #footer-easy .contactenos h2{
        font-size: 30px;
    }
    #footer-easy .contactenos h3{
        font-size: 20px;
    }
    #footer-easy .contactenos h4{
        font-size: 16px;
    }
    #footer-easy .mapa h2{
        font-size: 30px;
    }

    #footer-easy .mapa img{
        width: 60%;
    }
    #footer-easy .logo-footer img{
        width: 20%;
    }
    #footer-easy .linea h2{
        font-size: 30px;
    }
}

/* RESPONSIVE PHONE */

@media screen and (max-width:520px) and (min-width: 320px){
    header .nav-william{
        position: fixed ! important;
        background: #fff;
        width:100%;
        top: 0;
        z-index: 16;
    }
    .carousel.pointer-event{
        position: relative! important;
        margin-top: 43%! important;
    }

    .carousel-indicators button{
        font-size: 10px;
    }
    .margen-arriba{
        padding-top: 0;
    }
    #equipodetrabajo .contenido4{
        width: 60%;
    margin-left: 20%;
    }
    #equipodetrabajo .container h2{
        font-size: 25px;
    }
    #nuestrosservicios .row h3{
        font-size: 20px;
        margin-left: 19%;
    }
    
    #cuatroservicios .row h2{
        font-size: 22px;
    }
    #cuatroserviciosdos .row h2{
        font-size: 22px;
    }
    #cuatroservicios .row p {
        font-size: 13px;
    }
    #cuatroserviciosdos .row p {
        font-size: 13px;
    }

    #equipo-trabajo .contenido4 h4 {
        font-size: 100%;
    }
    #equipo-trabajo .contenido4 button{
        font-size: 12px;
    }
    #equipo-trabajo img{
        width: 38%;
    }
    #footer-easy .redes-sociales h2{
        font-size: 20px;
    }
    #footer-easy .redes-sociales img{
        width: 7%;
    }
    #footer-easy .contactenos h2{
        font-size: 20px;
    }
    #footer-easy .contactenos h3{
        font-size: 14px;
    }
    #footer-easy .contactenos h4{
        font-size: 11px;
    }
    #footer-easy .mapa h2{
        font-size: 20px;
    }

    #footer-easy .mapa img{
        width: 30%;
    }
    #footer-easy .logo-footer img{
        width: 20%;
    }
    #footer-easy .linea h2{
        font-size: 20px;
    }
}